@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Switzer";
    src: url(/fonts/switzer/Switzer-Variable.eot) format("eot");
    src: url(/fonts/switzer/Switzer-Variable.ttf) format("ttf");
    src: url(/fonts/switzer/Switzer-Variable.woff) format("woff");
    src: url(/fonts/switzer/Switzer-Variable.woff2) format("woff2");
  }
  @font-face {
    font-family: "Zodiak";
    src: url(/fonts/zodiak/Zodiak-Variable.eot) format("eot");
    src: url(/fonts/zodiak/Zodiak-Variable.ttf) format("ttf");
    src: url(/fonts/zodiak/Zodiak-Variable.woff) format("woff");
    src: url(/fonts/zodiak/Zodiak-Variable.woff2) format("woff2");
  }
}

body::-webkit-scrollbar {
  display: none;
}

.swiper {
  overflow: unset !important;
  overflow-y: visible !important;
  overflow-x: clip !important;
}
.swiper-wrapper {
  overflow: visible !important;
}
.swiper-button-prev {
  top: unset !important;
  bottom: -66px !important;
  left: 50% !important;
  transform: translateX(-56px);
  background-color: #614457;
  color: white !important;
  padding: 10px !important;
  width: 44px !important;
  height: 44px !important;
  border-radius: 100%;
}
.swiper-button-prev:after {
  font-size: 20px !important;
}
.swiper-button-next {
  top: unset !important;
  bottom: -66px !important;
  right: 50% !important;
  transform: translateX(56px);
  background-color: #614457;
  color: white !important;
  padding: 10px !important;
  width: 44px !important;
  height: 44px !important;
  border-radius: 100%;
}
.swiper-button-next:after {
  font-size: 20px !important;
}
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: unset !important;
  bottom: -16px !important;
}
.swiper-pagination-bullet {
  width: 30% !important;
  height: 2px !important;
  border-radius: 9999px !important;
  background-color: #614457 !important;
}
